<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/408c06af7a.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"> -->
</head>
<body>
    <header id="header">
        <a id="logo" href="#">E-commerce</a>
        <nav>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <a href="cart.html" aria-label="Shopping Cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all our products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop now</button>
    </section>

    <section id="feature" class=""section-p1>
        <div class="fe-box">
            <!-- <img src="images/feature_background.png" alt=""> -->
            <h6>Free shipping</h6>
        </div>
        <div class="fe-box">
            <!-- <img src="images/feature_background.png" alt=""> -->
            <h6>Personalized experience</h6>
        </div>
        <div class="fe-box">
            <!-- <img src="images/feature_background.png" alt=""> -->
            <h6>High quality products</h6>
        </div>
        <div class="fe-box">
            <!-- <img src="images/feature_background.png" alt=""> -->
            <h6>24/7 Support</h6>
        </div>
    </section>
    <section id="product1" class="section-p1">
        <h2>Featured products</h2>
        <p>Summer collection</p>
        <div class="products_container">
            {% for product in products %}
            <div class="product">
                <img src="{{ url_for('static', filename='images/product.png') }}" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>{{ product.name }}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>${{ product.price }}</h4>
                </div>
                <a href="#">
                    <i class="fas fa-shopping-cart cart" id="cart_but"></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>New products</h2>
        <p>Summer collection</p>
        <div class="products_container">
            {% for product in products %}
            <div class="product">
                <img src="{{ url_for('static', filename='images/product.png') }}" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>{{ product.name }}</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>${{ product.price }}</h4>
                </div>
                <a href="#">
                    <i class="fas fa-shopping-cart cart" id="cart_but"></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="categories">
        <h2>Categories</h2>
        <div class="categories-container">
            {% for category in categories %}
            <div class="category">
                <img src="{{ url_for('static', filename='images/electronics.jpg') }}" alt="">
                <h4>{{ category.name }}</h4>
            </div>
            {% endfor %}
        </div>
    </section>
    
    <main>
        <!-- Main content goes here -->
    </main>

    <footer class="section-p1">
        <div></div>
    </footer>

    <!-- JavaScript -->
    <script src="js/script.js"></script>
</body>
</html>
