{% extends 'base.html' %}

{% block title %}Home - E-Shop{% endblock %}

{% block content %}

    <!-- <section id="hero">
        <h4>Trade-in-offer</h4>
        <h2>Super value deals</h2>
        <h1>On all our products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <button>Shop now</button>
    </section> -->

    <section id="categories">
        <h2>Categories</h2>
        <div class="categories-container">
            {% for category in categories %}
            <div class="category">
                <a href="{{ url_for('category.category', category_id=category.id) }}">
                    <img src="{{ category.image_url or url_for('static', filename='default_category_image.jpg') }}" alt="{{ category.name }}">
                    <h4>{{ category.name }}</h4>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>All products</h2>
        <div class="products_container">
            {% for product in products %}
            <div class="product">
                <a href="{{ url_for('product.product_detail', product_id=product.id) }}" class="product-link">
                    <img src="{{ product.image_url or url_for('static', filename='default_product_image.jpg') }}" alt="">
                    <div class="description">
                        <span>Adidas</span>
                        <h5>{{ product.name }}</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>${{ product.price }}</h4>
                    </div>
                </a>
                <form action="{{ url_for('cart.add_to_cart', product_id=product.id) }}" method="POST">
                    <button type="submit" class="cart_button">
                        <i class="fas fa-shopping-cart cart" id="cart_but"></i>
                    </button>
                </form>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
